<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" th:with="user=${#authentication.principal.userDTO}">
  <!--/* 모달 */-->
  <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalTitle">비밀번호를 입력해주세요.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="password" class="form-control" id="modalInput">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalCloseBtn">취소</button>
          <button type="button" class="btn btn-primary" id="modalEnterBtn">확인</button>
        </div>
      </div>
    </div>
  </div>

  <h3 class="text-center my-3">개인정보</h3>
  <div class="w-25 mb-3 bg-body-tertiary border rounded p-3 mx-auto row">
    <!--/* 프로필 사진 */-->
    <div class="d-flex flex-column justify-content-around align-items-center col-4">
      <div class="d-flex flex-column align-items-center w-25">
        <img th:src="${user.profileURL}" alt="profile" style="width=100px; height=100px;" id="profileImageArea" class="my-3">
      </div>
      <span class="text-center fs-5">프로필 사진</span>
    </div>

    <!--/* 기본 정보 */-->
    <div class="d-flex flex-column justify-content-center align-items-center col-8">
      <div class="row mb-2 w-100">
        <div class="col-4">이메일</div>
        <div class="col-8" th:text="${user.email}"></div>
      </div>
      <div class="row mb-2 w-100">
        <div class="col-4">닉네임</div>
        <div class="col-8" th:text="${user.nickName}"></div>
      </div>
      <div class="d-flex justify-content-around align-items-center">
        <span th:each="auth:${user.authStrings}" class="badge text-bg-info" th:text="${auth}"></span>
      </div>
    </div>
  </div>

  <!--/* 버튼 */-->
  <div class="d-flex justify-content-end w-25 mx-auto mb-3">
    <button type="button" class="btn btn-danger me-2" id="resignBtn">탈퇴</button>
    <a th:href="@{/user/modify}">
      <button type="button" class="btn btn-secondary me-2">개인정보 수정</button>
    </a>
    <button type="button" class="btn btn-warning" id="changePwdBtn">비밀번호 수정</button>
  </div>

  <script th:src="@{/js/userInfo.js}"></script>
</div>