<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <h3 class="text-center">User List</h3>
  <!--/* 검색 */-->
  <form class="d-flex container-md mb-3 p-0 position-relative" role="search" action="/user/list" id="searchForm">
    <input type="hidden" name="pageNo" th:value="1">
    <div class="col-2 px-1">
      <select class="form-select" name="type" aria-label="searchType" id="type">
        <option th:selected="${ph.type == null ? true : false}">-</option>
        <option th:value="e" th:selected="${ph.type == 'e' ? true : false}">Email</option>
        <option th:value="n" th:selected="${ph.type == 'n' ? true : false}">NickName</option>
        <option th:value="en" th:selected="${ph.type == 'en' ? true : false}">Email&NickName</option>
      </select>
    </div>
    <div class="col-7 d-flex ps-2 pe-4">
      <input type="text" id="searchKeyword" name="keyword" aria-label="searchKeyword" class="form-control">
      <button type="button" id="searchBtn" class="btn btn-primary ms-3">Search</button>
    </div>
    <div class="position-absolute end-0 top-50 translate-middle-y pe-2">
      <a th:href="@{/user/list}" th:if="${ph.type != null && ph.type.length() > 0}" class="me-3">
        <button type="button" class="btn btn-outline-secondary">Cancel Search</button>
      </a>
      Total [[${ph.totalCount}]] Users
    </div>
  </form>

  <div class="container-md w-75">
    <div class="row border rounded bg-body-tertiary mb-3 py-3">
      <div class="col-3 d-flex justify-content-center align-items-center border-end">Email</div>
      <div class="col-3 d-flex justify-content-center align-items-center border-end">NickName</div>
      <div class="col-3 d-flex justify-content-center align-items-center border-end">Register Date</div>
      <div class="col-3 d-flex justify-content-center align-items-center">Last Login</div>
    </div>
    <div th:each="user:${ph.list}" class="row mb-3">
      <div class="col-3 d-flex justify-content-center align-items-center">[[${user.email}]]</div>
      <div class="col-3 d-flex justify-content-center align-items-center">[[${user.nickName}]]</div>
      <div class="col-3 d-flex justify-content-center align-items-center">[[${user.regDate}]]</div>
      <div class="col-3 d-flex justify-content-center align-items-center">[[${user.lastLogin}]]</div>
    </div>
  </div>
  <!--페이지네이션-->
  <!--/* ${} : JSP EL 방식 */-->
  <!--/* 타임리프 : th: / 인라인 [[${}]] */-->
  <!--/* disabled를 class에 추가하여 prev/next를 제어 */-->
  <!--/* th:classappend : 동적으로 클래스를 추가 */-->
  <nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item" th:classappend="${ph.hasPrev eq false ? 'disabled' : ''}">
        <a class="page-link" th:href="@{/user/list(pageNo=${ph.startPage - 1}, type=${ph.type}, keyword=${ph.keyword})}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <!--/* begin end 옵션이 없음. ${#numbers.sequence(from, to} */-->
      <th:block th:each="i:${#numbers.sequence(ph.startPage, ph.endPage)}">
        <li class="page-item" th:classappend="${ph.pageNo eq i ? 'active' : ''}">
          <a th:href="@{/user/list(pageNo=${i}, type=${ph.type}, keyword=${ph.keyword})}"
             class="page-link">[[${i}]]</a>
        </li>
      </th:block>
      <li class="page-item" th:classappend="${ph.hasNext eq false ? 'disabled' : ''}">
        <a class="page-link" th:href="@{/user/list(pageNo=${ph.endPage + 1}, type=${ph.type}, keyword=${ph.keyword})}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <script>
    document.getElementById('searchBtn').addEventListener('click', () => {
        if (document.getElementById('type').value != null && document.getElementById('searchKeyword').value != '')
            document.getElementById('searchForm').submit();
    });
  </script>
</div>